<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>DS FormMedia</title>
</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>